*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color-vdb: hsl(233, 47%, 7%);
    --color-ddb: hsl(244, 38%, 16%);
    --color-sv: hsl(277, 64%, 61%);

    --color-white: hsl(0, 0%, 100%);
    --color-tw1: hsla(0, 0%, 100%, 0.75);
    --color-tw2: hsla(0, 0%, 100%, 0.6);

    background-color: var(--color-vdb);
    font-family: 'Inter', sans-serif;
    
}

.card__container{
    width: 75%;
    min-width: 1000px;
    max-width: 1000px;
    height: 450px;
    border-radius: 5px;
    background-color: var(--color-ddb);
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

.card__right{
    background-image: url('/images/image-header-desktop.jpg');
    background-size: cover;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 50%;
    position: relative;
}

.layer{
    background-color: rgba(89, 15, 136, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.card__left{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    color: var(--color-tw1);
    margin: 1em 2em;
}

h1{
    margin-left: 0;
    padding: 1rem 4rem;
    color: var(--color-white);
}

span{
    color: var(--color-sv);
}

p{
    color: var(--color-tw2);
    padding: 1rem 5em;
}

.list__data{
    color: var(--color-white);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.list__names{
    color: var(--color-tw2);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    
}

